.tab-button {
  padding: 6px 0;
  flex: 1 1 auto;
  background-color: #ACACAC;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: background-color .3s;
}

.tab-button:hover {
  background-color: rgba(83, 97, 88, .7);
}

.tab-button.active {
  background-color: #536158;
}

.tab-button + .tab-button {
  margin-left: 6px;
}