body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.App {
}

#banner {
  overflow: hidden;
  position: relative;
  background-color: #313131;
}

.dropdown-language-selection {
  width: 43%;
  max-height: 46px;
  height: 46px;
  display: inline-block;
  padding: 6px 0;
  vertical-align: middle;
  border: 6px double black;
  border-radius: 0;
  background-color: #fff;
  color: #000;
}

.tab-button-list {
  background-color: #313131;
  padding: 6px 0;
}

.tab-button {
  padding: 6px 0;
  flex: 1 1 auto;
  background-color: #ACACAC;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: background-color .3s;
}

.tab-button:hover {
  background-color: rgba(83, 97, 88, .7);
}

.tab-button.active {
  background-color: #536158;
}

.tab-button + .tab-button {
  margin-left: 6px;
}

.translation-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  background-color: #fff;
}

.category-button {
  flex: 0 0 auto;
  padding: 4px 6px;
  margin-left: 6px;
  border: 0;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 400;
  background-color: lightgrey;
  color: #373737;
  transition: all .3s;
}

.category-button.active {
  background-color: #4B6261;
  color: #fff;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card {
    width: 50%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card {
    width: 33.33%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card {
    width: 25%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card {
    width: 20%;
  }
}
