body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.App {
}

#banner {
  overflow: hidden;
  position: relative;
  background: linear-gradient(to bottom, #717171);
  background: linear-gradient(217deg, rgba(54,59,56,.8), rgba(54,59,56,0.4) 70.71%),
        linear-gradient(336deg, rgba(113,113,113,.5), rgba(113,113,113,0.3) 70.71%);
}

.dropdown-language-selection {
  width: 43%;
  height: 35px;
  font-size: 1.1em;
  color: #000;
  background-color: #fff;
  border: 2px solid black;
}

.translation-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  background-color: #fff;
}

.category-button {
  flex: 0 0 auto;
  padding: 4px 6px;
  margin-left: 6px;
  border: 0;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 400;
  background-color: lightgrey;
  color: #373737;
  transition: all .3s;
}

.category-button.active {
  background-color: #4B6261;
  color: #fff;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card {
    width: 50%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card {
    width: 33.33%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card {
    width: 25%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card {
    width: 20%;
  }
}
